<!<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Laporan</title>
  <link href="/static/js_print/styles.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    table {
    border-collapse: collapse;
    width: 100%;
    }
    table, th, td {
        border: 1px solid blue;
    }
    td {
    padding: 10px;
    text-align: left;
    }
  </style>
</head>
<body>
  <div id="container">
<div id="body"> 
<div align="center">
<h2>LAPORAN PEMESANAN</h2>
</div>
<table id="example1" class="table table-bordered table-striped" border="1">
                  <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama Barnag</th>
                    <th>Nama Kategori</th>
                    <th>Ukuran</th>
                    <th>No-KTP</th>
                    <th>Nama Pelanggan</th>
                    <th>Jumlah Pesanan</th>
                    <th>Harga Barang</th>
                    <th>Tanggal Pesanan</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for tampil in tampil %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{tampil.nama_barang}}</td>
                          <td>{{tampil.nama_kategori}}</td>
                          <td>{{tampil.ukuran}}</td>
                          <td>{{tampil.noktp}}</td>
                          <td>{{tampil.nama_lengkap}}</td>
                          <td>{{tampil.jumlah_pesanan}}</td>
                          <td>{{tampil.harga_barang}}</td>
                          <td>{{tampil.tanggal_pemesanan}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
</tbody>
</table>