{% include 'style_atas.html' %}
{% include 'fitur_menu.html' %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <marquee>Selamata Datang Di Sistem Aplikasi, Hallo.., <b>{{user}}</b></marquee>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="background-image: url('/static/bg.jpg'); height: 400px; background-size: cover">
                <br><br><br><br><br>
                <h1 align="center">APLIKASI E-COMMERCE</h1>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
{% include 'style_bawah.html' %}